body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: xx-large;
    background-color: black;
}
.container {
    /* border: 2px solid salmon; */
    display: flex;
    background-color: #161629;
    justify-content: center;
    align-items: center;
}
.side {
    /* border: 2px solid yellow; */
    flex-grow: 1;
}
.col-center {
    /* border: 2px solid greenyellow; */
    flex-grow: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row-center {
    /* border: 2px solid skyblue; */
    background: linear-gradient(to right, #4BC1DE, #4682DC);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    padding: 3em;
    column-gap: 3em;
}
.row-top {
    display: flex;
    align-self: flex-end;
}
.row-top nav {
    /* border: 2px solid red; */
    display: flex; 

}
.row-top ul {
    display: flex;
    list-style: none;
    column-gap: 2em;
}
#showcase {
    display: flex;
    flex-direction: column;
}
#showcase img {
    width: 200px;
}
#resources ul, #developers ul {
    list-style: none;
    display: inline;
    line-height: 2;
}
.font {
    font-family: sans-serif;
    color: #161629;
    font-weight: 400;
    font-size: 18px;
}
.nav-font {
    font-family: sans-serif;
    color: white;
    font-weight: 400;
    font-size: 16px;
    opacity: 50%;
}
.vl {
    border-left: 1px solid rgb(93, 84, 146);
    height: 500px;
  }